@model MOM.Models.StaffModel;
<div class="card">
    <div class="card-body">

        <h5 class="card-title">Staff Form</h5>

        <form asp-action="Save" method="post" class="row g-3">

            <!-- Staff Name -->
            <div class="col-md-6">
                <label for="StaffName" class="form-label" asp-for="StaffName">Staff Name</label>
                <input type="text"
                       class="form-control"
                       id="StaffName"
                       placeholder="Enter staff name"
                       asp-for="StaffName"
                       >
            </div>

            <!-- Mobile No -->
            <div class="col-md-6">
                <label for="MobileNo" asp-for="MobileNo" class="form-label">Mobile No</label>
                <input type="tel"
                       class="form-control"
                       id="MobileNo"
                       placeholder="Enter mobile number"
                       asp-for="MobileNo"
                       >
            </div>

            <!-- Email Address -->
            <div class="col-md-6">
                <label for="EmailAddress" asp-for="EmailAddress" class="form-label">Email Address</label>
                <input type="email"
                       class="form-control"
                       id="EmailAddress"
                       placeholder="Enter email address"
                       asp-for="EmailAddress">
            </div>

            <!-- Remarks -->
            <div class="col-md-6">
                <label for="Remarks" asp-for="Remarks" class="form-label">Remarks</label>
                <input type="text"
                       class="form-control"
                       id="Remarks"
                       placeholder="Enter remarks"
                       asp-for="Remarks">
            </div>

            <!-- Buttons -->
            <div class="col-12 text-center mt-3">
                <button type="submit" class="btn btn-primary px-4">
                    Submit
                </button>
                <a href="StaffList.html" asp-action="StaffList" asp-controller="Staff" class="btn btn-secondary px-4 ms-2">
                    Cancel
                </a>
            </div>

        </form>

    </div>
</div>
